<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div id="app">
    <h2>{{str1 | toUpper }}</h2>
      <input type="text" v-model="str1">
      <span v-bind:title="str2 | toUpper">{{str2}}</span>

      <button >请求接口</button>
      <ul>
          <li v-for="item in list">
              {{item.name}} - {{item.age}}
          </li>
      </ul>


  </div>

  <script src="vue.2.6.12.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        str1: "hello world",
        str2 : "abcde",
        list : []
      },
        methods: {

        },
        filters: {
          toUpper(d){
              return d.toUpperCase()
          }
        }
    })
  </script>
</body>
</html>